<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1><%= username %></h1>
    <form action="/users/login" method="POST">
      <p>Username</p>
      <input type="text" name="username" />
      <br />
      <p>Password</p>
      <input type="text" name="password" />
      <br />
      <button type="submit">Login</button>
    </form>
    <a href="/users/logout">logout</a>
  </body>
</html>
